streamlit==1.30.0
requests
beautifulsoup4
spacy>=3.6.0
pandas
numpy
scikit-learn
bertopic
hdbscan==0.8.31
umap-learn==0.5.4
openai
textblob
plotly
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
